.toDoItem{
    width: 50%;
    border: 3px solid white;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.toDoList{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-bottom: 100px;
}
.toDoList__btns{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}
.doneBtn{
    background-color: green;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
.deleteBtn{
    background-color: orangered;
    border-radius: 5px;
    font-size: 20px;
    color: yellowgreen;
}
.toDoItem__done{
    width: 50%;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    background-color: green;
    border: 3px solid black;
}

@media screen and (max-width: 1000px) {
    .toDoItem{
        width: 80%;
        font-size: 20px;
    }
  }
@media screen and (max-width: 600px) {
    .toDoItem{
        width: 95%;
        font-size: 16px;
    }
  }