.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100px;
}
.logo {
  height: 100%;
  pointer-events: none;
}
